@using st_1
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ModelCabinet
<form action="Edit" method="post" class="form-control-color" >

    <label asp-for="NickName" label="col-form-label">Nickname</label>
    <input asp-for="NickName" class="input-group-lg" placeholder="@Model.NickName" />
    <label asp-for="Knowlege" label="col-form-label">Знания (через запятую)</label>
    <input asp-for="Knowlege" class="input-group-lg" placeholder="@Model.Knowlege"/>
    <label asp-for="DateAndTimeOfBirth" label="col-form-label">дата и время рождения</label>
    <input asp-for="DateAndTimeOfBirth" class="input-group-lg" placeholder="@Model.DateAndTimeOfBirth" />
    <label asp-for="PlaceOfBirth" label="col-form-label">место рождения</label>
    <input asp-for="PlaceOfBirth" class="input-group-lg" placeholder="@Model.PlaceOfBirth" />
    <label asp-for="PlaceOfNowLiving" label="col-form-label">место жительства</label>
    <input asp-for="PlaceOfNowLiving" class="input-group-lg" placeholder="@Model.PlaceOfNowLiving" />
    <label asp-for="Gender" label="col-form-label">Пол</label>
    <input asp-for="Gender" class="input-group-lg" placeholder="@Model.Gender" />
    @foreach (var field in ViewBag.CustomFields as List<Field>)
    {
        <div class="form-group">
            <label for="@field.Name">@field.Name:</label>
            @if (field.DataType == "string")
            {
                <input  type="text" name="CustomFields[@field.Name]" class="form-control" value="@Model.AdditionalFields.GetValueOrDefault(field.Name)" />
            }
            else if (field.DataType == "int")
            {
                <input type="number" name="CustomFields[@field.Name]" class="form-control" value="@Model.AdditionalFields.GetValueOrDefault(field.Name)" />
            }
            <!-- Add more data types as needed -->
        </div>
    }
    <button type="submit">ввести</button>
    @if (Model.Role == "Admin")
    {
        <a asp-action="AddNewField">Добавить поле</a>
    }

</form>